{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="/imc" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" name="altura" placeholder="Digite sua altura" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="peso" placeholder="Digite seu peso" required>
                        </div>

                        <button class="btn btn-info" type="submit">
                            Calcular IMC
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Peso</th>
                    <th>Altura</th>
                    <th>IMC</th>
                    <th>Classificação</th>
                </tr>

                <tbody>

                {% for entry in entries %}
                <tr>
                    <td>{{ entry.First_Name }}</td>
                    <td><strong>{{ entry.Last_Name }}</strong></td>
                    <td>{{ entry.Age }}</td>
                    <td>
                        <a class="btn btn-danger"
                           href="/action/delete/{{ entry._id }}">
                            Delete
                        </a>
                        <a class="btn btn-warning"
                           href="/action/update/{{ entry._id }}">
                            Edit
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>

{% endblock %}